body {
  padding: 0px;
  margin: 0px;
}
.search-section {
  width: 774px;
  height: 72px;
  background-color: #f2f2f2;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  padding: 0px;
  display: grid;
  grid-template-columns: 626px 100px;
  column-gap: 16px;
  margin: 16px;
}
.search-bar {
  width: 626px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  padding: 0px;
  margin: 16px;

}
.add-button {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  background-color: #2f80ed;
  border: 0px;
  padding: 0px;
  margin:16px;

}
.usual-section {
  width: 774px;
  height: 72px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  display: grid;
  grid-template-columns: 510px 100px 100px;
  column-gap: 16px;
  margin: 16px;
}
.usual-text {
  color: #333;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin: 16px;
}
.done-button {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  padding: 0px;
  background-color: #27ae60;
  border: 0px;
  margin: 16px;
}
.remove-button {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  padding: 0px;
  background-color: #eb5757;
  border: 0px;
  margin: 16px;
}
.unusual-section {
  width: 774px;
  height: 72px;
  background-color: #f2f2f2;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  display: grid;
  grid-template-columns: 510px 100px 100px;
  column-gap: 16px;
  margin: 16px;
}
.line-through-text {
  color: #333;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin: 16px;
  text-decoration: line-through;
}
.open-button {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  padding: 0px;
  background-color: #BDBDBD;
  border: 0px;
  margin: 16px;
}

button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin: 10.5px 20.5px;
  cursor:pointer;
}

button:hover {
  transform: scale(1.1);
}

